body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 20px;
        }
        header {
            background: #4CAF50;
            color: white;
            padding: 10px 0;
            text-align: center;
        }
        main {
            margin: 20px 0;
        }
        footer {
            text-align: center;
            margin-top: 20px;
            color: #777;
		}
		@keyframes color-change {
    0% {
      color: blue;
    }
  
    50% {
      color: red;
    }
  
    100% {
      color: blue;
    }
}

h1 {
    animation: color-change 3s infinite;
}